
.logos{
    height: 30px;
    border-radius: 50%;
    margin-right: 8px ;
}
.logo{
  height: 25px;
  margin-right:8px;
}
.nav{
   display: flex;
   justify-content: space-evenly;
}
.cards{
    margin-top: 180px;
    display: flex;
    justify-content: space-evenly;
    height: 235px;
    margin-bottom: 170px;
}
.cards-2{
    display: flex;
    justify-content: space-evenly;
    height: 235px;
    margin-top: 100px;
    margin-bottom: 170px;
}
.logo-2{
    height: 70px;
    width: 70px;
    margin-left: 40px;
}

.courosel{
    width: 600px;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.header{
    font-size: 50px;
    font-style:italic;
    font-family: sans-serif;
    font-family: cursive;
    font-weight: bolder;
    color: #0c3c5c;
    text-align: center;
    padding: auto 10px;
    margin-bottom: 20px;
}
.body{
    background: linear-gradient(300deg, #00bfff, #ff4c68, #f98576, rgb(235, 235, 105));
    background-size: 180% 180%;
    animation: gradient-animation 5s  ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.abouts{
    height: 30px;
    margin: auto 8px;
}
#body-2{
    text-align: center;
}
.photo{
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.para{
    font-size: larger;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-item, .text-center{
    font-weight: bold;
}
.courosel {
    max-width: 100%; /* Make the carousel width 100% of the container */
    margin: 0 auto;
}
.courosel img {
    width: 100%;
    height: auto;
}
.carda{
    margin-bottom: 70px;
}
